.reseña-card {
    background: rgba(255, 237, 200, 0.95); /* Beige cálido */
    width: 80%; /* Aumentar el ancho para una apariencia más rectangular */
    height: auto; /* Ajustar altura automáticamente */
    border-radius: 20px; /* Bordes más suaves */
    padding: 20px;
    margin: 15px auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    border-left: 5px solid #ff7f50; /* Coral */
    display: flex; /* Permitir una mejor distribución del contenido */
    align-items: center;
    justify-content: space-between;
}

.user-icon {
    display: flex;
    align-items: center;
}

.user-icon i {
    font-size: 30px;
    color: #FFD700; /* Dorado */
    margin-right: 15px;
}

.reseña-texto {
    flex-grow: 1; /* Permitir que el texto se expanda */
    font-size: 18px;
}

.reseña-mensaje {
    color: #ff4500; /* Naranja intenso */
    font-style: italic;
}
.rating-stars {
    color: #ffc107;
    margin-top: 10px;
}
.reseña-nombre {
    font-weight: bold;
    color: #5a2f0b;
}

.reseñas-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 30px;
}
